//out: style.css, compress: true

//Slider
@import url("owl.carousel.min.css");
@import url("owl.theme.default.min.css");

//Fonts
@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=latin-ext');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
//Colors
@white: #fbfbfb;
@darkwhite: #ebebeb;
@blue: #1d2951;
@lightblue: #314689;
@grey: #3c3c3c;
@darkgrey: #383838;

// <----- Main classes -----> \\

* {
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
}
.background-blue {
  background: @blue;
}
.background-grey {
  background: @grey;
}
.overflow
{
  overflow: hidden;
}
.row {
  margin: 0;
}

// <----- preloader -----> \\

.preloader {
  z-index: 999999;
  position: fixed;
}
.preloader-left {
  position: fixed;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background: @white;
  transition: 2s;
}
.preloader-right {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  background: @white;
  transition: 2s;
}
.preloader-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 42px;
  animation: fadein 1.5s infinite;
  z-index: 99999;
}

@keyframes left {
  from {width: 50%;}
  to {width: 0;}
}
@keyframes right {
  from {width: 50%;}
  to {width: 0;}
}
@keyframes fadein {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}



// <----- Navigation -----> \\

.navbar {
  background: black;
  height: 72px;
  opacity: 0.8;
}
.navbar-nav {
  display: flex;
  align-items: center;
  height: 72px;
}
.navbar-nav>li>a {
  color: @white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 22px;
  transition: 0.7s;
}
.container>.navbar-header {
  margin: 0;
}
.navbar-header {
  height: 72px;
  display: flex;
  align-items: center;
  font-size: 26px;
}
.navbar-header a {
  color: @white;
}
.navbar-nav>li>a:hover {
  color: @lightblue;
  background: none;
}
.navbar-nav>li>a:focus {
  background: none;
}
.line {
  height: 5px;
  width: 100%;
  display: block;
  background: @white;
  position: absolute;
  bottom: 5px;
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.75);
}
.menu-btn {
  float: right;
  position: fixed;
  top: 20px;
  right: 15px;
  display: none;
}
.menu-btn:hover {
  cursor: pointer;
}
.menu-btn .fa-bars {
  color: @white;
  font-size: 32px;
  z-index: 9999;
  display: block;
}
.right-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: @darkgrey;
  z-index: 9999;
  transition: 0.7s;
}
.show {
  left: 0;
}
.right-menu ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.right-menu ul li {
  margin-bottom: 15px;
}
.right-menu ul li a {
  color: @white;
  font-size: 26px;
  transition: 0.7s;
}
.right-menu ul li a:hover {
  color: @lightblue;
  margin-left: 30px;
  text-decoration: none;
}
.right-menu span  {
  position: absolute;
  top: 25px;
  right: 25px;
}
.right-menu span .fa-times {
  color: @white;
  font-size: 26px;
  transition: 0.7s;
}
.right-menu span .fa-times:hover {
  cursor: pointer;
  color: @lightblue;

}

// <----- Header -----> \\

header {
  height: 920px;
}
header img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  background: rgba(66,66,66,1);
  height: 920px;
}
.carousel-inner>.item>img {
  height: 920px;
  width: 100%;
  filter: grayscale(100%);
  background: rgba(66,66,66,1);
}
.owl-dots {
  display: flex;
  justify-content: center;
  width: 100%;
}
.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid @grey;
  background: @white;
  margin-right: 5px;
  display: inline-block;
}
.owl-dot.active {
  background: @blue;
  border-color: @blue;
}

// <----- Section -----> \\

.container-wrap {
  position: relative;
}
.container-wrap .container {
  margin-top: -200px;
  margin-bottom: 50px;
}

// <----- Homepage -----> \\

.call-us {
  background: @blue;
  color: @white;
  padding: 10px 10px;
  float: left;
  width: 25%;
  margin-right: 25%;
  margin-top: 109px;
}
.call-us p {
  margin-bottom: 0px;
}
.tel {
  font-size: 36px;
}
.header-tile {
  background: @grey;
  color: @white;
  float: left;
  font-size: 28px;
  padding: 0 25px;
  height: 200px;
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
.header-message {
  background: @blue;
  color: @white;
  float: left;
  font-size: 28px;
  padding: 0px 10px;
  width: 25%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
.site-info img {
  width: 100%;
  height: 400px;
  filter: grayscale(100%);
  transition: 0.8s;
}
.site-info img:hover {
  filter: none;
  cursor: pointer;
  transform: scale(1.2);
}
.site-info .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
.site-info {

}
.site-info .padd-r {
  padding-right: 15px;
}
.site-info .padd-l {
  padding-left: 15px;
}
.tile {
  color: @white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tile strong {
  font-size: 26px;
}
.tile p {
  font-size: 17px;
  padding: 0 25px;
}
.tile-content {
  height: 200px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.21);
}
.tile-content p {
  font-size: 18px;
  padding: 25px 0;
}

// -----> Contact <----- \\

.container-wrap #contact {
  margin-top: -304px;
  z-index: 9999;
}
.contact-header {
  background: @white;
  padding: 0 0px 20px 0;
  text-align: center;
  width: 33%;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.35);
}
.contact-header p {
  font-size: 22px;
}
.contact-header h2 {
  background: @blue;
  color: @white;
  padding: 15px 10px;
}
.contact-header .title {
  font-size: 26px;
  font-weight: bold;
}
.contact-header .email {
  font-size: 16px;
}
.end-line {
  height: 30px;
  background: @darkwhite;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}
.contact-us {
  background: @darkgrey;
  padding: 15px 10px;
}
.contact-us p {
  color: @white;
  text-align: center;
  margin: 0;
  font-size: 20px;
}
#map {
  height: 768px;
}
#map iframe  {
  filter: grayscale(100%);
}

// -----> About <----- \\

#about .header-tile {
  margin-left: 50%;
}
.about-content {
  padding: 25px 10px;
  text-align: center;
  margin: 0;
  box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.15);
}
.about-info .col-md-5, .about-info .col-md-7 {
  padding: 0;
}
.about-info .col-md-5 {
  padding-right: 15px;
}
.about-content p {
  font-size: 22px;
  margin: 25px 0;
}
.about-info {

}
.about-tile {
  height: 320px;
  background: @darkgrey;
  display: flex;
  align-items: center;
}
.about-tile img {
  width: 100%;
  height: 320px;
  filter: grayscale(100%);
  transition: 0.7s;
}
.about-tile p {
  padding: 15px 10px;
  color: @white;
  font-size: 20px;
  text-align: center;
}

// -----> Services <------ \\

.services-offer {
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.20);
}
.services-model {
  padding: 0px;
}
.services-model:nth-child(even) {
  padding: 0 0 0 15px;
}
.services-model h3 {
  font-size: 36px;
  text-align: center;
  margin: 0px 0 10px 0;
  padding: 35px 15px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.35);
}
.services-tile {
  width: 50%;
  float: left;
  height: 195px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-tile:nth-child(2) {
  width: 48%;
  margin-right: 2%;
}
.services-tile p {
  color: @white;
  font-size: 18px;
}
.services-tile p span {
  font-size: 26px;
}
.car-image {
  padding: 0;
}
.car-image:nth-child(even) {
  padding: 0 0 0 15px;
}
.car-image img {
  width: 100%;
  height: 312px;
  display: block;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.35);
}
.services-info {

}
.info-text-tile {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 0;
}
.info-text-tile p {
  font-size: 26px;
  padding: 0 10px;
  text-align: center;
}
.info-tiles-wrap {
  height: 300px;
  padding: 0 0 0 15px;
}
.info-tiles {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.35);
}
.info-regulations {
  height: 140px;
  background: @blue;
  transition: 0.7s linear;
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.info-regulations:hover {
  background: @white;
  border: 1px solid @blue;
}
.info-regulations a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.info-regulations:hover p {
  color: @blue;
  text-decoration: underline;
}

.info-regulations p {
  font-size: 28px;
  color: @white;
  transition: 0.5s;
}
.info-price-list {
  position: relative;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0 0 0;
  background: @grey;
  transition: 0.5s;
  opacity: 1;
  overflow: hidden;
}
.info-price-list p {
  font-size: 28px;
  color: @white;
  transition: 0.8s;
}
.info-price-list a {
  color: @white;
  padding: 0 20px;
  position: absolute;
  left: 25%;
  bottom: -25%;
  transition: 0.8s;
  opacity: 0;
  display: block;
  font-size: 20px;
}
.info-price-list a:nth-child(3) {
  left: 75%;
}
.info-price-list:hover p  {
  opacity: 0;
}
.info-price-list:hover a {
  bottom: 20%;
  left: 25%;
  opacity: 1;
  transform: translate(-50%,-25%);
}
.info-price-list:hover a:nth-child(3) {
  left: 75%;
  bottom: 20%;
  transform: translate(-75%,-25%);
}
.info-price-list .fa {
  font-size: 32px;
  display: block;
  text-align: center;
}
// -----> Footer <----- \\

footer {
  background: @darkgrey;
  padding: 25px 0;
}
footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  height: auto;
  width: 10%;
  margin: 0 50px;
}
footer p {
  color: @white;
  margin: 0;
  text-transform: uppercase;
}

// <----- Media -----> \\

@media screen and (max-width: 1440px) {
  header {
    height: 800px;
  }
  header img {
    height: 100%;
  }
  .carousel-inner>.item>img {
    height: 800px;
  }
}
@media screen and (max-width: 1200px) {
  header {
    height: 650px;
  }
  header img {
    height: 100%;
  }
  .carousel-inner>.item>img {
    height: 650px;
  }
  .call-us {
    margin-right: 15%;
    width: 35%;
  }
}

@media screen and (max-width: 992px) {
  header {
    height: auto;
    margin-top: 70px;
  }
  .carousel-inner>.item>img {
    height: auto;
  }
  .container-wrap .container {
    margin-top: -25px;
  }
  .call-us {
    width: 50%;
    margin: 0 25%;
  }
  .call-us p {
    font-size: 16px;
  }
  .header-tile {
    width: 50%;
    font-size: 20px;
  }
  .header-message {
    width: 50%;
    font-size: 17px;
  }
  .site-info .padd-r {
    padding-right: 0px;
  }
  .site-info .padd-l {
    padding-left: 0px;
  }
  .site-info img {
    width: 100%;
    height: auto;
  }
  .tile {
    margin: 20px 0;
  }
  .tile-content {
    height: auto;
    margin: 20px 0;
  }
  .owl-dots {
    bottom: 10px;
    position: absolute;
  }
  .wrapper {
    margin-bottom: 15px;
  }
  .contact-header {
    width: 50%;
    margin: 0 25% 30px 25%;
  }
  .container-wrap #contact {
    margin-top: -293px;
  }
  .end-line {
    display: none;
  }
  #map iframe {
    height: 560px;
  }
  header img {
    height: auto;
  }
  .header-tiles {
    margin-top: 50px;
  }
  .about-info .col-md-5 {
    padding: 0;
    margin: 20px 0;
  }
  #about .header-tile {
    margin-left: 0;
  }
  .car-image:nth-child(even) {
    padding: 15px 0;
  }
  .info-tiles-wrap {
    padding: 0;
  }
  .car-image {
    margin-bottom: 15px;
    padding: 0;
  }
  .car-image:nth-child(even) {
    padding: 0;
  }
  .car-image img {
    height: auto;
    padding: 15px 0;
  }
  .services-tile {
    margin-bottom: 15px;
  }
  .services-model:nth-child(even) {
    padding: 0;
  }
  .info-text-tile {
    margin-bottom: 15px;
  }
  .services-model {
    margin-top: 15px;
  }
  .services-offer p {
    text-align: center;
  }
  .about-tile img {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .navbar-nav {
    display: none;
  }
  footer p {
    text-align: center;
    margin: 5px 0;
  }
  footer .text-right {
    text-align: center;
  }
  .contact-header {
    width: 80%;
    margin: 0 10%;
  }
  .about-tile {
    height: auto;
  }
  .about-content p {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .services-tile {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .services-tile:nth-child(2) {
    width: 100%;
    margin: 15px 0;
  }
  .services-offer p {
    font-size: 18px;
  }
  .info-text-tile p {
    font-size: 20px;
  }
  .about-content p, .about-tile p {
    font-size: 18px;
  }
  .info-price-list a {
    font-size: 14px;
  }
  .info-price-list a:nth-child(3){
    left: 85%;
  }
  .info-price-list:hover a:nth-child(3) {
    left: 85%;
  }
}

@media screen and (max-width: 480px) {
  .contact-header {
    width: 100%;
    margin: 0;
  }
  .contact-us {
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.35);
  }
  .about-tile p {
    padding: 40px 10px;
  }
}
